.About_welcome_container {
    text-align: center;
    padding: 10px 10px 25px;
}

.About_welcome_header {
    font-size: x-large;
    font-weight: bold;
}

.About_welcome_header .About_sng_s {
    color: #111111;
}

.About_welcome_header .About_sng_n {
    color: #cc1111;
}

.About_welcome_header .About_sng_g {
    color: #111111;
}

.About_welcome_text {
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
}

.About_mission_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}