PORT=6001
CORS_ORIGIN=http://localhost:5173

RESEND_SMTP_HOST=smtp.resend.com
RESEND_SMTP_PORT=465
RESEND_SMTP_SECURE=true
RESEND_SMTP_USER=resend
RESEND_SMTP_PASS=your_resend_api_key

EMAIL_FROM="SNG Maintenance <info@sngmaintenance.com.au>"
CONTACT_TO_EMAIL=info@sngmaintenance.com.au
