.cta {
    margin-top: -5%;
    padding: 60px 0;
}

.cta__inner {
    background: #415D2F;
    border-radius: 28px;
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-transform: uppercase;
}

.cta__title {
    font-size: 44px;
    font-weight: 700;
    color: #415D2F;
    margin-bottom: 15px;
}

.cta__subtitle {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 700px;
}

.cta__btn {
    background: #415D2F;
    color: #0f172a;
    padding: 18px 36px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-block;
}

.cta__btn:hover {
    transform: translateY(-3px);
}

@media (max-width: 1024px) {

    .cta__inner {
        flex-direction: column;
        text-align: center;
        border-radius: 0px;
        padding: 40px;
    }

    .cta__title {
        font-size: 34px;
    }

    .cta__subtitle {
        font-size: 18px;
    }
}

@media (max-width: 640px) {

    .cta {
        padding: 20px 0;
    }

    .cta__inner {
        padding: 30px 20px;
        border-radius: 0px;
    }

    .cta__title {
        font-size: 26px;
    }

    .cta__subtitle {
        font-size: 16px;
    }

    .cta__btn {
        width: 100%;
        text-align: center;
        padding: 14px 20px;
        font-size: 16px;
    }
}