.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 0;
    background-color: #DEE8CF;
}

.navbar--scrolled {
    background-color: #DEE8CF;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.navbar__logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    color: #415D2F;
    transition: color 0.3s ease;
    line-height: 0;
    text-decoration: none !important;
}

a{
    text-decoration: none;
}

.navbar__logo img {
    height: 100px;
    width: auto;
    object-fit: contain;
    display: block;
}

.navbar--scrolled .navbar__logo img {
    height: 100px;
    transition: height 0.3s ease;
}



.logo-icon {
    font-size: 22px;
}

.navbar__links {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

.navbar__links a {
    font-size: 15px;
    font-weight: 600;
    color: #415D2F;
    transition: all 0.25s ease;
    position: relative;
}

.navbar__links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--white);
    transition: width 0.25s ease;
}

.navbar__links a:hover::after {
    width: 100%;
}

.navbar--scrolled .navbar__links a {
    color: #415D2F;
}

.navbar__cta {
    margin-left: 20px;
}

.navbar__hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #415D2F;
}

.navbar__hamburger span {
    width: 26px;
    height: 2px;
    background: #415D2F;
    transition: all 0.3s ease;
}

.navbar--scrolled .navbar__hamburger span {
    background: var(--text-dark);
}

.navbar__hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar__hamburger.open span:nth-child(2) {
    opacity: 0;
}

.navbar__hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {

    .navbar__hamburger {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .navbar__cta {
        display: none;
    }

    .navbar__links {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: #DEE8CF;
        flex-direction: column;
        padding: 30px 24px;
        gap: 22px;
        transform: translateY(-15px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
    }

    .navbar__links.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .navbar__links a {
        color: #415D2F;
        font-size: 16px;
    }

    .mobile-cta {
        margin-top: 15px;
        width: 100%;
    }

    .mobile-cta .btn-primary {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar__logo img {
        height: 150px;
    }

    .navbar--scrolled .navbar__logo img {
    height: 150px;
    transition: height 0.3s ease;
    }
}