.stats-section{
    width:100%;
    background:#E7EAD9;
    padding:2rem 1rem;
}

.stats-container{
    width:100%;
    max-width:1200px;
    margin:auto;

    display:flex;
    flex-direction:column;
}

/* ROW */

.stats-card{
    width:100%;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:2rem;

    padding:2rem 0;

    border-bottom:1px solid #d7d7d7;
}

.stats-card:last-child{
    border-bottom:none;
}

/* LEFT ICON */

.stats-icon-wrap{
    flex-shrink:0;

    display:flex;
    justify-content:center;
    align-items:center;
}

.stats-icon{
    width:9rem;
    height:9rem;

    border-radius:50%;
    background:#dfe4cf;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.stats-icon img{
    object-fit:cover;
}

/* CENTER CONTENT */

.stats-content{
    flex:1;
}

.stats-content h2{
    margin:0;

    font-size:5rem;
    line-height:1;
    font-weight:700;

    color:#415D2F;
}

.stats-content h3{
    margin:0.4rem 0 1rem;

    font-size:2.5rem;
    font-weight:500;

    color:#222;
}

.stats-content p{
    margin:0;

    max-width:28rem;

    font-size:1.1rem;
    line-height:1.7;

    color:#444;
}

.stats-line{
    width:7rem;
    height:0.35rem;

    background:#415D2F;

    border-radius:2rem;

    margin-top:1.5rem;
}

/* RIGHT IMAGE */

.stats-image{
    flex-shrink:0;
}

.stats-image img{
    width:18rem;
    height:15rem;

    object-fit:cover;

    border-radius:1.7rem;

    display:block;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media(max-width:992px){

.stats-card{
    gap:1.5rem;
}

.stats-icon{
    width:7rem;
    height:7rem;
}

.stats-content h2{
    font-size:4rem;
}

.stats-content h3{
    font-size:2rem;
}

.stats-content p{
    font-size:1rem;
}

.stats-image img{
    width:14rem;
    height:11rem;
}

}

/* ========================= */
/* MOBILE */
/* ========================= */

@media(max-width:768px){

.stats-card{
    flex-direction:row;
    align-items:center;
    gap:1rem;
}

.stats-icon{
    width:5rem;
    height:5rem;
}

.stats-content h2{
    font-size:2rem;
}

.stats-content h3{
    font-size:1.2rem;
    margin:0.2rem 0 0.5rem;
}

.stats-content p{
    font-size:0.8rem;
    line-height:1.4;
}

.stats-line{
    width:4rem;
    height:0.25rem;
    margin-top:0.8rem;
}

.stats-image img{
    width:6.5rem;
    height:6.5rem;

    border-radius:1rem;
}

}

/* SMALL MOBILE */

@media(max-width:480px){

.stats-card{
    gap:0.8rem;
}

.stats-icon{
    width:4.5rem;
    height:4.5rem;
}

.stats-content h2{
    font-size:1.7rem;
}

.stats-content h3{
    font-size:1rem;
}

.stats-content p{
    font-size:0.72rem;
}

.stats-image img{
    width:5.5rem;
    height:5.5rem;
}

}